
body {
	/* max-width: 80%; */
	font-family: Roboto, sans-serif;
    margin: 0 auto;
}
nav, .branding {
	max-width: 1170px;
	margin: 0 auto;
    position: relative;
}
.branding, .nav-root, .masthead-links {
    display: flex;
}
.branding {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #a7344f;
    margin-bottom: 8px;
    padding: 8px 32px;
}
.masthead-links a {
    font-size: 0.85em;
    text-decoration: none;
    color: #f5efef;
    padding: 6px 20px;
}
.masthead-links a:hover {
    color: #a7344f;
    background-color: #f5efef;
}
.nav-root {
	justify-content: space-around;
	flex-grow: 1;
	background-color: #a7344f;
    margin: 0;
}
.nav-root-top {
    flex-grow: 1;
    text-align: center;
}
.wrap {
    max-width: 1170px;
 	visibility: hidden;
    display: none;
 }
.nav-inner {
	position: absolute;
	left: 0;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.nav-root-top:hover {
	background-color: #f5efef;
	color: #a7344f;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	color: #f5efef;
	background-color: #a7344f;
}
nav a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 16px 24px;
}
.nav-root-top:hover .wrap {
 	visibility: visible;
 }
.item {
 	background-color: #f5efef;
    flex-grow: 1;
 }
.nav-inner a {
 	color: #a7344f;
 }
.nav-root-top:hover .wrap {
    display: block;
 }
.item:hover {
    background-color: #e6e0e0;
 }