
body {
	/* max-width: 80%; */
	font-family: Roboto, sans-serif;
    margin: 0 auto;
}
nav, .branding, .news-list {
	max-width: 1170px;
	margin: 0 auto;
    position: relative;
}
.branding, .nav-root, .masthead-links {
    display: flex;
}
.branding {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #a7344f;
    margin-bottom: 8px;
    padding: 8px 32px;
}
.masthead-links a {
    font-size: 0.85em;
    text-decoration: none;
    color: #f5efef;
    padding: 6px 20px;
}
.masthead-links a:hover {
    color: #a7344f;
    background-color: #f5efef;
}
.nav-root {
	justify-content: space-around;
	flex-grow: 1;
	background-color: #a7344f;
    margin: 0;
}
.nav-root-top {
    flex-grow: 1;
    text-align: center;
}
.wrap {
    max-width: 1170px;
 	visibility: hidden;
    display: none;
 }
.nav-inner {
	position: absolute;
	left: 0;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    z-index: 99;
    border-bottom: 4px solid #a7344f;
}
.nav-root-top:hover {
	background-color: #f5efef;
	color: #a7344f;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	color: #f5efef;
	background-color: #a7344f;
}
a {
    text-decoration: none;
	color: inherit;
}
nav a {
	display: block;
	padding: 16px 24px;
}
.nav-root-top:hover .wrap {
 	visibility: visible;
}
.item {
 	background-color: #f5efef;
    flex-grow: 1;
}
.nav-inner a {
 	color: #a7344f;
}
.nav-root-top:hover .wrap {
    display: block;
}
.item:hover {
    background-color: #e6e0e0;
}
.news-list ul {
    width: 680px;
}
.news-list-article {
    background-color: white;
    color: initial;
    padding: 10px;
    border-bottom: 1px solid #cecece;
}
.news-list-image {
    overflow: hidden;
    float: left;
    width: 140px;
    height: 140px;
}
.news-list-image  img{
    min-height: 100%;
    margin: 0 auto;
}
.news-list-text {
    margin-left: 16px;
    float: left;
    width: 500px;
    color: #363636;
}

.news-list-text h3 {
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 1.1em;
}
.news-list-description, .news-list-date {
    font-size: 0.75em;
    margin: 0;
    padding: 0 0 5px 0;
}
.news-list-description a {
    font-weight: bold;
}




