body {
	/* max-width: 80%; */
	font-family: Roboto, sans-serif;
    margin: 0 auto;
}
nav {
	max-width: 1170px;
	margin: 0 auto;
}
.nav-root {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;
	background-color: red;
    margin: 0;
}
.nav-root-top {
    flex-grow: 1;
    text-align: center;
}
.wrap {
    max-width: 1170px;
 	position: relative;
 	visibility: hidden;
    display: none;
 }
.nav-inner {
	position: absolute;
	left: 0;	
	display: flex;	
	/* flex-direction: row; */
	/* align-items: stretch; */
	flex-wrap: wrap;
}
.nav-root-top:hover {
	background-color: #f5efef;
	color: red;
}
.item {
    flex-grow: 1;
    /* flex-wrap: wrap; */
    /* position: absolute; */
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	color: #f5efef;
	background-color: red;
	/*border: 1px solid black;*/
}
a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 16px 24px;
}
.nav-root-top:hover .wrap {
 	visibility: visible;
 }
.item {
 	/*visibility: visible;*/
 	background-color: #f5efef;
 }
.nav-inner a {
 	color: red;
 }
 .nav-root-top:hover .wrap {
    display: block;
 }
 .item:hover {
    background-color: #e6e0e0;
 }